@charset "utf-8";
/* CSS Document */
.container{
	width: 50%;
	height: 750px;
	background-color: darkgreen;
	position: relative;
	text-align: center;
	
}
.topRoad{
	background-color: black;
	color: white;
	position: absolute;
	width: 95%;
	height:80px;
	text-align: center;
	z-index:10;
	
}
.btn{
	top:90%;
	border:1px solid blue;
	position: absolute;
	text-align: center;
}
/*کلاس های داخل جاوا اسکریپت*/
.playcar{
	background-image:url("car2.png");
	position: absolute;
	height: 111px;
	width: 52px;
	bottom: 60px;
	left:370px;
	z-index: 10;
	top:85%;
	background-size: cover;
	background-color:yellow;
	border-radius: 8px;
	
}
.road{
	width: 350px;
	height:53px;
	background-color:#555555;
	position: absolute;
	left: 30%;
	z-index: 1;
	
}
.road::after{
	content:"";
	width: 2px;
	height: 20px;
	position:absolute;
	background-color: white;
	left:50%;
}
.carR{
	background-image:url("car2.png");
	position: absolute;
	height: 111px;
	width: 52px;
	top: 0px;
	left:30%;
	z-index: 9;
	background-size: cover;
	border-radius: 8px;
}
